@import '@fontsource/inter';
@import 'katex/src/katex.less';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply h-full overflow-hidden;
	/* @apply h-full overflow-hidden bg-base-100; */
}
